:root {
    --black100: #464646;
    --black50: #a2a2a2;
    --black30: #c8c8c8;
    --black05: #f5f5f5;
    --blue100: #2a7ae4;
    --blue10: #eaf2fd;
    --white: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--black100);
    background-color: var(--white);
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: var(--black100);
    text-decoration: none;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/*button {
    box-sizing: border-box;
    border: .063rem solid var(--botao-border);
    margin-right: 1rem;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}*/

/*@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    button {
        font-size: 1rem;
        font-weight: 400;
    }
}*/