:root {
    --black100: #464646;
    --black50: #A2A2A2;
    --black30: #C8C8C8;
    --black05: #F5F5F5;
    --blue100: #2A7AE4;
    --blue80: #5595E9;
    --blue10: #EAF2FD;
    --white: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--black100);
    background-color: var(--white);
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: var(--black100);
    text-decoration: none;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    /*button {
        font-size: 1rem;
        font-weight: 400;
    }*/
}